{% extends "base.html" %}
{% block content %}
    <div class="container">
    {% include 'head.html' %}
        <div class="row">
            <div class="col-lg-8">
                <h2>Add a Brew</h2>
            </div>

            <form role="form">

                <div class="form-group">
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            Select a Bean <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for bean in beans %}
                                <li><a href="#"><span id="{{ bean.id }}">{{ bean.name }}</span></a></li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li><a href="#">+ Add a Bean</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ground_option">Ground Option</label>
                    <br/>
                    {% for radio in form.ground_option %}
                        <div class="form-control">
                            {{ radio }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="">Ground Level</label>
                    <input type="text" class="form-control" id="ground_level" placeholder="Ground Level (1-4)"/>
                </div>
                <div class="form-group">
                    <label for="scoops">Scoops</label>
                    <input type="text" class="form-control" id="scoops" placeholder="Scoops">
                </div>
            <div class="form-group">
                <label for="water_bottles">Water Bottles</label>
                <input class="form-control" type="text" id="water_bottles" placeholder="Water Bottles Amount"/>
            </div>
                <p class="help-block">Add a new Roast.</p>
                <button type="submit" class="btn btn-default">Submit</button>

            </form>
        </div>
    </div>

{% endblock %}