{% extends "base.html" %}
{% block content %}
    <div class="container">
        {% include 'head.html' %}


        <div class="jumbotron">
            <h1>Current Brew</h1>

            <p class="lead">
                Vote on the current brew.
            </p>

            <p><a class="btn btn-primary" href="#" role="button" data-toggle="modal" data-target=".bean-desc">View
                details &raquo;</a></p>

            <!-- Modal with Bean Description  -->
            <div class="modal fade bean-desc" tabindex="-1" role="dialog" aria-labelledby="beanModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <h2>Blah BEAN!</h2>

                        <p>Vote for bean</p>
                    </div>
                </div>
            </div>
            <!-- End of Modal -->

        </div>

        <div class="row">
            <div class="col-lg-8">
                <h2>Brews</h2>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-8">
                <tbody class="table-striped">
                <table class="table" border="1">
                    <tr>
                        <td>Brewer</td>
                        <td>Bean</td>
                        <td>Ground Level</td>
                        <td>Scoops</td>
                        <td>Bottles of Water</td>
                        <td>Notes</td>
                    </tr>
                    {% for brew in bean_brews %}
                        <tr>
                            <td>{{ brew.creator.first_name }}</td>
                            <td>{{ brew.bean.name }}</td>
                            <td>{{ brew.ground_level }}</td>
                            <td>{{ brew.scoops }}</td>
                            <td>{{ brew.water_bottles }}</td>
                            <td>{{ brew.description }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </tbody>
            </div>
        </div>
    </div>
    </div>

    <script type="text/javascript">
        $.onload({
            //$('#myModal').modal({
            //    keyboard: false
            //})
        })
    </script>
{% endblock %}