{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">BeanCup</h3>
            <ul class="nav nav-justified">
                <li><a href="/">Home</a></li>
                <li><a href="/beanvote/">BeanVotes</a></li>
                <li class="active"><a href="/beanbrew/">Brewing</a></li>
                <li><a href="/beanblog/">BeanBlog</a></li>
                {% include "account_dropdown.html" %}
            </ul>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <h2>Brews</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
            <tbody class="table-striped">
                <table class="table" border="1">
                    <tr>
                        <td>Brewer</td>
                        <td>Bean</td>
                        <td>Ground Level</td>
                        <td>Scoops</td>
                        <td>Cups of Water</td>
                        <td>Notes</td>
                    </tr>
                    {% for brew in bean_brews %}
                        <tr>
                            <td>{{ brew.creator.first_name }}</td>
                            <td>{{ brew.bean.name }}</td>
                            <td>{{ brew.ground_level }}</td>
                            <td>{{ brew.scoops }}</td>
                            <td>{{ brew.cups_of_water }}</td>
                            <td>{{ brew.description }}</td>
                        </tr>
                    {% empty %}
                        <li>No listed Brews</li>
                    {% endfor %}
                </table>
            </tbody>
            </div>
        </div>
    </div>
    </div>


{% endblock %}