{% extends "base.html" %}
{% block content %}
    <div class="container">
      <div class="masthead">
        <h3 class="text-muted">BeanCup</h3>
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/beanvote/">BeanVotes</a></li>
          <li><a href="/beanbrew/">Brewing</a></li>
          <li><a href="/beanblog/">BeanBlog</a></li>
            {% include "account_dropdown.html" %}
        </ul>
      </div>

      <div class="jumbotron">
          <h1>Bean Voting</h1>
          <p class="lead">
              Vote for your favorite bean roast.
          </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>

    </div>



{% endblock %}