{% extends "base.html" %}
{% block content %}
    <div class="container">

        {% include 'head.html' %}

        <div class="row">
            <div class="col-lg-8">
                <h2>Brew Votes</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <tbody class="table-striped">
                <table class="table" border="1">
                    <tr>
                        <td>Vote Count</td>
                        <td>Brewer</td>
                        <td>Bean</td>
                        <td>Vote</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Jim</td>
                        <td>Blah Bean</td>
                        <td>
                            <a href="#" data-beanid="{{ bean_id }}">
                                <button id="likes"><span class="glyphicon glyphicon-plus"></span></button>
                            </a>
                        </td>
                    </tr>
                </table>
                </tbody>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {

            console.log("It loaded")

            $('#likes').click(function () {
                console.log("IT WAS CLICKED!")
                var beanid;
                beanid = $(this).attr("data-beanid");
                $.get('/beanvote/add_vote/', {bean_id: beanid},
                        function(data) {
                            $('#like_count').html(data);
                            $('#likes').hide();
                        })
            })
        })
    </script>
{% endblock %}

